/build/
/.vscode/
/.cache/
subprojects/libbacktrace.git
subprojects/asio.git
subprojects/boost_array.git
subprojects/boost_assert.git
subprojects/boost_config.git
subprojects/boost_container_hash.git
subprojects/boost_core.git
subprojects/boost_detail.git
subprojects/boost_integer.git
subprojects/boost_predef.git
subprojects/boost_stacktrace.git
subprojects/boost_static_assert.git
subprojects/boost_throw_exception.git
subprojects/boost_type_index.git
subprojects/boost_type_traits.git
subprojects/jsoncons.git