[submodule "third_party/asio"]
	path = third_party/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "third_party/jsoncons"]
	path = third_party/jsoncons
	url = https://github.com/danielaparker/jsoncons/
